name: Build & Release (Multi-Platform)

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

env:
  PROJECT_DIR: .

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter pub get
        working-directory: ${{ env.PROJECT_DIR }}
      - run: flutter build apk --release
        working-directory: ${{ env.PROJECT_DIR }}
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.PROJECT_DIR }}/build/app/outputs/flutter-apk/app-release.apk